[Desktop Entry]
Version=1.0
Name=Pycharm
Type=Application
GenericName=Pycharm
Comment=Python IDE
Exec=bash /opt/pycharm-community-2021.1.2/bin/pycharm.sh
Categories=Development;IDE;Python;
Icon=/opt/pycharm-community-2021.1.2/bin/pycharm.png
